#!/bin/sh
# PROVIDE: pppoe_toggle_ha
# REQUIRE: DAEMON
# KEYWORD: nojail

. /etc/rc.subr

name="pppoe_toggle_ha"
rcvar="${name}_enable"

command="/usr/local/sbin/pppoe_toggle_ha"
command_args="reconcile"

load_rc_config $name

: ${pppoe_toggle_ha_enable:=YES}

start_cmd="pppoe_toggle_ha_start"
stop_cmd=":"

pppoe_toggle_ha_start()
{
    ervice devd reload >/dev/null 2>&1 || true
    ${command} ${command_args} >/dev/null 2>&1 || true
}

run_rc_command "$1"
